<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" />
</head>
<body>
<div class="container">
    <div class="col-lg-8">
        <div class="text-center">
            <img width="128px" src="https://themost.io/assets/images/most_logo_mono_256.png" alt="@theMOST">
        </div>
        <h4>Hello <%=model.object.description%></h4>
        <p>You recently requested to reset your password for @theMOST Authentication Services. Click the button below to reset it</p>
        <p>
            <a class="btn btn-danger" href="<%=html.context.resolveAbsoluteURL(model.url)%>">Reset yout password</a>
        </p>
        <p>
            If you did not request a password reset, please ignore this message or reply to let us know. This password reset is valid for the next 60 minutes.
        </p>
        <p>
            Thanks,
        </p>
        <p>
            @theMOST Authentication Services
        </p>
        <p class="small text-muted">
            If you are having any trouble clicking the password reset button above, please follow the next link
            <br>
            <a href="<%=html.context.resolveAbsoluteURL(model.url)%>"><%=html.context.resolveAbsoluteURL(model.url)%></a>
        </p>
    </div>


</div>
</body>
</html>